
body{
background-color: white;
}
.product-page {
  display: flex;
  gap: 40px;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  font-family: Arial, sans-serif;
  
}

.product-image-section {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  
}

.product-image {
  width: 100%;
  max-width: 420px;
 border: 4px solid black;  
}

.product-details {
  width: 50%;
  color:#000;
}

.product-title {
  font-size: 22px;
  margin-bottom: 10px;
  color: #000;
}

.price {
  color: #000;
  margin-bottom: 20px;
}


.quantity-row {
  margin: 15px 0;
  color:#000;
}

.quantity-row input {
  width: 60px;
  padding: 5px;
  margin-left: 10px;
}

.buy-btn {
  width: 100%;
  padding: 12px;
  background: #0053ff;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.cart-btn {
  width: 100%;
  padding: 12px;
  background: white;
  color: #0053ff;
  border: 2px solid #0053ff;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

